<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Matéria" %>
    <%= form.collection_select(:subject_id, Subject.all, :id, :name, {:selected => @classroom.subject_id }) %>
  </div>

  <div class="field">
    <%= form.label "Professor" %>
    <%= form.collection_select(:professor_id, Professor.all, :id, :name, {:selected => @classroom.professor_id }) %>
  </div>

  <div class="field">
    <%= form.label "Período" %>
    <%= form.collection_select(:period_id, Period.all, :id, :semester, {:selected => @classroom.period_id }) %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
