<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @classroom.subject.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @classroom.professor.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @classroom.period.semester %>
</p>

<p>
  <strong>Code:</strong>
  <%= @classroom.code %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
