<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @user.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @user.photo %> <br>
  <% if @user.photo.present? %>
    <%= image_tag @user.photo.url, alt: "Imagem do Usuário" %>
  <% end %>
</p>
<% if can? :edit, @user %>
  <%= link_to 'Edit', edit_user_registration_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
