<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<% if can? :edit, @department%>
  <%= link_to 'Edit', edit_department_path(@department) %> |
<% end %>
<%= link_to 'Back', departments_path %>
