<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.department.name %></td>
        <td><%= professor.name %></td>
        <td><%= professor.age %></td>
        <td><%= link_to 'Show', professor %></td>
        <% if can? :edit, @professor%>
          <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <% end %>
        <% if can? :destroy, @professor%>
          <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @professor%>
  <%= link_to 'New Professor', new_professor_path %>
<% end %>
