<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @professor.department.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @professor.age %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
