<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @subject.department.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>
<% if can? :edit, @subject %>
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
<% end %>
<%= link_to 'Back', subjects_path %>
