<p id="notice"><%= notice %></p>

<p>
  <strong>Classroom:</strong>
  <%= @lesson.classroom.code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lesson.date %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
