<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @course.department.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<% if can? :edit, @course%>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
