<!DOCTYPE html>
<html>
  <head>
    <title>FaculdadeBack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete%> |
      <%= link_to 'Meu Perfil', user_path(current_user.id)%> |
    <% else %>
      <%= link_to 'Logar', user_session_path %> |
    <% end %>
    <%= link_to 'Deparmento', departments_path%> |
    <%= link_to 'Curso', courses_path%> |
    <% if can? :read, Professor %>
      <%= link_to 'Professor', professors_path%> |
    <% end %>
    <% if can? :show, Student%>
      <%= link_to 'Estudantes', students_path%> |
    <% end %>
    <%= link_to 'Matérias', subjects_path%> |
    <% if can? :show, Lesson%>
      <%= link_to 'Aulas', lessons_path%> |
    <% end %>
    <% if can? :show, Classroom%>
      <%= link_to 'Turmas', classrooms_path%>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
